/* common.css */
/* VSCのテスト */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	color: #333;
}

a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
