/* common.css */
/* VSCのテスト */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	color: #333;
}

a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	text-decoration: underline;
}

/* VSCを使用したマージのテスト */
.container {
<<<<<<< HEAD
	width: 90%;
	margin: auto;
=======
	width: 100%;
　margin: auto;
>>>>>>> 21b660efa521df850fea14563fe219b8ccda1829
	overflow: hidden;
}
