<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>顧客情報登録画面</title>
</head>

<body class="bg-body">
<div class="container mt-5">
	<div class="text-center">
        <form th:action="@{/add}" method="post" th:object="${CustomerInfoForm}">
            <h1>顧客情報登録画面</h1>
            <!-- エラーメッセージ -->
            <div th:if="${error}" class="error-message" style="color: red;">
                <p th:utext="${error}"></p>
            </div>
            
            <!-- 顧客ID -->
            <div class="row form-group">
            	<label for="customerID" class="col-sm-2 col-form-label">顧客ID</label>
            <div class="col-sm-7">
            	<input type="text" class="form-control" name="customer_ID" readonly>
            </div>
            </div>
            <!-- 顧客名 -->
            <div class="form-group row">
            <label for="customername" class="col-sm-2 col-form-label">*顧客名</label>
            	<div class="col-sm-7">
            <input type="text" class="form-control" name="customer_name" placeholder="20文字以内でご入力ください" required>
            </div>
            </div>
            <!-- 電話番号① -->
			<div class="form-group row">
    			<label for="tel" class="col-md-2 col-form-label">*電話番号①</label>
    		<div class="col-md-7">
        	<input type="text" class="form-control" name="tel" placeholder="20文字以内でご入力ください" required>
    		</div>
    		<div class="col-md-3">
        		<div class="form-text text-muted align-middle">＊「-」なしで入力してください</div>
    		</div>
			</div>
            <!-- 電話番号② -->
			<div class="form-group row">
    			<label for="tel" class="col-md-2 col-form-label">電話番号②</label>
    		<div class="col-md-7">
        	<input type="tel" class="form-control" name="tel" placeholder="20文字以内でご入力ください">
    		</div>
    		<div class="col-md-3">
        		<div class="form-text text-muted align-middle">＊「-」なしで入力してください</div>
    		</div>
			</div>        
			<!-- 電話番号③ -->
			<div class="form-group row">
    			<label for="tel" class="col-md-2 col-form-label">電話番号③</label>
    		<div class="col-md-7">
        	<input type="tel" class="form-control" name="tel" placeholder="20文字以内でご入力ください">
    		</div>
    		<div class="col-md-3">
        		<div class="form-text text-muted align-middle">＊「-」なしで入力してください</div>
    		</div>
			</div>
			<!-- 電話番号④ -->
			<div class="form-group row">
    			<label for="tel" class="col-md-2 col-form-label">電話番号④</label>
    		<div class="col-md-7">
        	<input type="tel" class="form-control" name="tel" placeholder="20文字以内でご入力ください">
    		</div>
    		<div class="col-md-3">
        		<div class="form-text text-muted align-middle">＊「-」なしで入力してください</div>
    		</div>
			</div>
			<!-- 電話番号⑤ -->
			<div class="form-group row">
    			<label for="tel" class="col-md-2 col-form-label">電話番号⑤</label>
    		<div class="col-md-7">
        	<input type="tel" class="form-control" name="tel" placeholder="20文字以内でご入力ください">
    		</div>
    		<div class="col-md-3">
        		<div class="form-text text-muted align-middle">＊「-」なしで入力してください</div>
    		</div>
			</div>
            <!-- メール -->
            <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">*メールアドレス</label>
            	<div class="col-sm-7">
            <input type="text" class="form-control" name="email" placeholder="100文字以内でご入力ください" required>
            </div>
            </div>
            <!-- 性別 -->
            <div class="form-group row">
            	<label class="col-sm-2 col-form-label">*性別</label>
               	<div class="col-sm-8">
               	<div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="男" id="male" required>
            <label class="form-check-label" for="male">男</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="女" id="female" />
                <label class="form-check-label" for="female">女</label>
             </div>
             </div>
             </div>
             <!-- 住所 -->
            <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">*住所</label>
            	<div class="col-sm-7">
            <input type="text" class="form-control" name="address" placeholder="100文字以内でご入力ください" required>
            </div>
            </div>       
            
            <div class="row align-items-center">
				<div class="col-md-2"></div>
    		<!-- 登録ボタン -->
    		<div class="col-md-8 text-center">
        		<input type="submit" value="新規登録" class="btn btn-primary">
    		</div>
    		<!-- 戻るボタン -->
   			<div class="col-md-1 text-right">
        		<a href="#" th:href="@{/search}" class="btn btn-secondary">戻る</a>
    		</div>
			</div>

        </form>
    </div>
    
    <hr>
        <div th:if="${success != null}">
        <div th:if="${success}" class="success-message">
                <p th:utext="${success}"></p>
        </div>
       
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/changeTextPassword.js}"></script>
</body>
</html>
