<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
	<h1>ログイン画面</h1>
	<!-- ログイン用 -->
	<!-- エラーメッセージ表示部分 -->
<div th:if="${error}" class="error-message" style="color: red;">
    <p th:text="${error}"></p>
</div>
	<form class="login-form" action="/login" method="post">
		<div class="login-box">
			<div class=login-form-box>
				<input type="text" class="login-text-box fa" name="username" required="required" placeholder="&#xf007; USERNAME">
			</div>
			<div class=login-form-box>
				<input type="password" id="textPassword" class="login-text-box fa" name="password" required="required" placeholder="&#xf084; PASSWORD">
				<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"></span>
			</div>
			<button type="submit" class="login-btn">
				<i class="fa fa-arrow-right"></i>LOGIN
			</button>
		</div>
	</form>
	<!-- 新規登録用 -->
	<form class="login-form">
		<p>
			まだ新規登録を行っていない方は<a href="#"	th:href="@{/signUp}">こちら</a>から
		</p>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/changeTextPassword.js}"></script>
</html>
